<main class="h-full">

    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
        <div class="pt-4 mb-5">
            <div class="w-11/12 m-auto px-3 border rounded-md shadow bg-white">
                <header class="py-2 border-b">
                    <h5 class="capitalize font-bold text-gray-600 text-md">main information</h5>
                </header>
                <div class="grid grid-cols-1 gap-5 py-4">
                    <div>
                        <label for="title" class="text-sm text-gray-500 capitalize">Enter product title</label>
                        <br>
                        <input id="title" type="text"
                            class="border-2 border-transparent rounded hover:border-blue-200 bg-slate-100 px-3 py-1 focus:border-blue-400 text-gray-500 w-full capitalize placeholder:text-sm placeholder:normal-case mt-1"
                            placeholder="Product title" name="title" formControlName="title">
                    </div>

                    <div>
                        <label for="brand" class="text-sm text-gray-500 capitalize">Enter product brand</label>
                        <br>
                        <input id="brand" type="text"
                            class="border-2 border-transparent rounded hover:border-blue-200 bg-slate-100 px-3 py-1 focus:border-blue-400 text-gray-500 w-full capitalize placeholder:text-sm placeholder:normal-case mt-1"
                            placeholder="Brand name" name="brand" formControlName="brand">
                    </div>

                    <div>
                        <label for="category" class="text-sm text-gray-500 capitalize">category</label>
                        <br>
                        <input id="category" type="text"
                            class="border-2 border-transparent rounded hover:border-blue-200 bg-slate-100 px-3 py-1 focus:border-blue-400 text-gray-500 w-full capitalize placeholder:text-sm placeholder:normal-case mt-1"
                            placeholder="Enter product category" name="category" formControlName="category">
                    </div>

                    <div>
                        <label for="sub-category" class="text-sm text-gray-500 capitalize">sub category</label>
                        <br>
                        <input id="sub-category" type="text"
                            class="border-2 border-transparent rounded hover:border-blue-200 bg-slate-100 px-3 py-1 focus:border-blue-400 text-gray-500 w-full capitalize placeholder:text-sm placeholder:normal-case mt-1"
                            placeholder="Enter product sub-category" name="sub-category" formControlName="subCategory">
                    </div>

                    

                    <div class="grid grid-cols-2 gap-5">
                        <div>
                            <label for="sellingPrice" class="text-sm text-gray-500 capitalize">selling price</label>
                            <br>
                            <input id="sellingPrice" type="number"
                                class="border-2 border-transparent rounded hover:border-blue-200 bg-slate-100 px-3 py-1 focus:border-blue-400 text-gray-500 w-full capitalize placeholder:text-sm placeholder:normal-case mt-1"
                                placeholder="Selling price" name="sellingPrice" formControlName="sellingPrice">
                        </div>

                        <div>
                            <label for="orignalPrice" class="text-sm text-gray-500 capitalize">orignal price</label>
                            <br>
                            <input id="orignalPrice" type="number"
                                class="border-2 border-transparent rounded hover:border-blue-200 bg-slate-100 px-3 py-1 focus:border-blue-400 text-gray-500 w-full capitalize placeholder:text-sm placeholder:normal-case mt-1"
                                placeholder="Orignal price" name="orignalPrice" formControlName="orignalPrice">
                        </div>
                    </div>

                    <div>
                        <label for="dis" class="text-sm text-gray-500 capitalize">discription</label>
                        <br>
                        <textarea id="dis" type="text"
                            class="border-2 border-transparent rounded hover:border-blue-200 bg-slate-100 px-3 py-1 focus:border-blue-400 focus:outline-none text-gray-500 w-full capitalize placeholder:text-sm placeholder:normal-case mt-1"
                            placeholder="Enter product discription" name="discription" formControlName="discription"></textarea>
                    </div>
                </div>

            </div>

            <div formArrayName="colors">
                <div class="w-11/12 m-auto px-3 border mt-4 rounded-md shadow bg-white"
                    *ngFor="let color of colors.controls; let i = index">
                    <header class="py-2 border-b">
                        <h5 class="capitalize font-bold text-gray-600 text-md">additinal information {{i+1}}</h5>
                    </header>
                    <div class="grid grid-cols-1 gap-5 py-4" [formGroupName]="i">

                        <!-- <div class="flex items-center gap-3">
                            <label for="color" class="text-sm text-gray-500 capitalize">color:</label>
                            <input id="color" type="color"
                                class="border-2 border-transparent rounded hover:border-blue-200 bg-slate-100 focus:border-blue-400 text-gray-500"
                                formControlName="colorName" name="colorName">
                        </div> -->

                        <div formArrayName="image">
                            <div class="flex items-center justify-between border-b pb-1.5">
                                <h5 class="font-bold text-gray-600 text-[0.9rem]">Add image:</h5>
                                <button type="button" class="bg-gray-700 text-secondary px-3 py-1 rounded-md text-xs font-bold"
                                    (click)="addImage(i)">Add</button>
                            </div>

                            <div *ngFor="let img of getImage(i).controls; let imgIdx = index">
                                <div>

                                    <label for="img" class="text-sm text-gray-500 capitalize">add images</label>
                                    <br>
                                    <div class="flex items-center justify-between gap-2 border-2 border-transparent rounded hover:border-blue-200 bg-slate-100 py-1 focus:border-blue-400 mt-1 w-full">
                                        <input id="img" type="text"
                                            class="w-full bg-slate-100 placeholder:text-sm placeholder:normal-case text-gray-500 px-3"
                                            placeholder="Add product image" [formControlName]="imgIdx" name="image">

                                            <button type="button" class="px-3" (click)="removeImg(i, imgIdx)">&Cross;</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div formArrayName="size">
                            <div class="flex items-center justify-between border-b pb-1.5">
                                <h5 class="font-bold text-gray-600 text-[0.9rem]">Add size:</h5>
                                <button type="button" class="bg-gray-700 text-secondary px-3 py-1 rounded-md text-xs font-bold"
                                    (click)="addSize(i)">Add</button>
                            </div>

                            <div *ngFor="let img of getSize(i).controls; let sizeIdx = index">
                                <div>

                                    <label class="text-sm text-gray-500 capitalize">add images</label>
                                    <br>
                                    <div class="flex items-center justify-between gap-2 border-2 border-transparent rounded hover:border-blue-200 bg-slate-100 py-1 focus:border-blue-400 mt-1 w-full">
                                        <select
                                            class="w-full bg-slate-100 capitalize placeholder:text-sm placeholder:normal-case text-gray-500 px-3 focus:outline-none"
                                            [formControlName]="sizeIdx">
    
                                            <option value="s" class="uppercase">s</option>
                                            <option value="m" class="uppercase">m</option>
                                            <option value="l" class="uppercase">l</option>
                                            <option value="xl" class="uppercase">xl</option>
                                            <option value="free size" class="uppercase">free size</option>
                                        </select>

                                        <button type="button" class="px-3" (click)="removeSize(i, sizeIdx)">&Cross;</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <button type="button" class="bg-red-500 px-3 py-1 text-secondary text-sm rounded-md hover:bg-red-600"
                                (click)="removeColor(i)">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-between w-11/12 m-auto mt-4">
                <button type="button" class="bg-blue-400 text-secondary px-3 py-1 rounded-md" (click)="addColors()">Add
                    variants</button>
                <button type="submit" class="bg-blue-400 text-secondary px-3 py-1 rounded-md">Submit</button>
            </div>
        </div>
    </form>
</main>
