<main class="bg-white flex items-start h-screen">
    <div class="h-full border-r pb-5" id="category-box">
        <p class="m-0 text-sm text-secondary-text p-3 sticky top-0 bg-white border-b border-b-gray-300">
            Categories</p>

        <div>
            <div class="p-3 bg-gray-50 border-b border-b-gray-300">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQILIfMXUmobP05FaUgMHSWRB332ZOCei0kpg&s"
                    alt="" class="w-[50px] h-[55px] rounded-t-full m-auto object-contain">
                <p class="m-0 text-xs text-center mt-1 text-primary-text">Women</p>
            </div>

            <div class="p-3 bg-gray-50 border-b border-b-gray-300">
                <img src="https://royaltail.in/cdn/shop/files/royaltail-shirt-printed-rt-srt-085-1.jpg?v=1706183488&width=1080"
                    alt="" class="w-[50px] h-[55px] rounded-t-full m-auto object-contain">
                <p class="m-0 text-xs text-center mt-1 text-primary-text">Men</p>
            </div>
            <div class="p-3 bg-gray-50 border-b border-b-gray-300">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLbbE61uWfLWE7hFBJWd6HGJ4fTq2IBSlG0A&s"
                    alt="" class="w-[50px] h-[55px] rounded-t-full m-auto object-contain">
                <p class="m-0 text-xs text-center mt-1 text-primary-text">Kid</p>
            </div>
            <div class="p-3 bg-gray-50 border-b border-b-gray-300">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR938togibaro60d3dqXW4PxgL3wG2_O8KTNA&s"
                    alt="" class="w-[50px] h-[55px] rounded-t-full m-auto object-contain">
                <p class="m-0 text-xs text-center mt-1 text-primary-text">Electronics</p>
            </div>
            <div class="p-3 bg-gray-50 border-b border-b-gray-300">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTq2vmPRfoa2Hc24HXOyECkedHtptox-IsCSA&s"
                    alt="" class="w-[50px] h-[55px] rounded-t-full m-auto object-contain">
                <p class="m-0 text-xs text-center mt-1 text-primary-text">Jewelleries</p>
            </div>

        </div>
    </div>
    <div class="flex-1 h-full pb-5" id="category-box">
        <p class="m-0 text-xs text-primary-text px-3 py-1 sticky top-0 z-10 bg-white border-dashed border-b">
            Our Products</p>
        <div class="mt-3">
            <div>
                <p class="m-0 text-sm text-primary-text p-3 sticky top-0 bg-white font-[700]" id="title">
                    Women</p>

                <div class="grid grid-cols-[repeat(3,minmax(50px,1fr))] gap-4 place-items-center px-3 mt-1.5">
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQILIfMXUmobP05FaUgMHSWRB332ZOCei0kpg&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Kurti</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyC0asgDsttr1rseMHq6NqxqvTHpW8_tWlDw&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Saree</p>
                    </div>
                    <div>
                        <img src="https://fabvilla.in/cdn/shop/products/CKB1127ceelkee_540x_70bda26d-af2f-4e7b-85f5-11d7a7e4ccf3.jpg?v=1648029770"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Lehenga</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyC0asgDsttr1rseMHq6NqxqvTHpW8_tWlDw&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Saree</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQILIfMXUmobP05FaUgMHSWRB332ZOCei0kpg&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Kurti</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyC0asgDsttr1rseMHq6NqxqvTHpW8_tWlDw&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Saree</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQILIfMXUmobP05FaUgMHSWRB332ZOCei0kpg&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Kurti</p>
                    </div>
                    <div>
                        <img src="https://fabvilla.in/cdn/shop/products/CKB1127ceelkee_540x_70bda26d-af2f-4e7b-85f5-11d7a7e4ccf3.jpg?v=1648029770"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Lehenga</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div>
                <p class="m-0 text-sm text-primary-text p-3 sticky top-0 bg-white font-[700]" id="title">
                    Men</p>

                <div class="grid grid-cols-[repeat(3,minmax(50px,1fr))] gap-4 place-items-center px-3 mt-1.5">
                    <div>
                        <img src="https://www.tistabene.com/cdn/shop/files/MSH-1489A.jpg?v=1757080947" alt=""
                            class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Shirt</p>
                    </div>
                    <div>
                        <img src="https://m.media-amazon.com/images/I/91qdN8vNgAL._AC_UY1100_.jpg" alt=""
                            class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Formal pant</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBifi0JnlJfZsdX0S1fh9WLFkZ4jZnJEEvh2FpJB-aTqnLegQZPZAB6mKs5YMtVLmJeYk&usqp=CAU"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Shervani</p>
                    </div>
                    <div>
                        <img src="https://m.media-amazon.com/images/I/91qdN8vNgAL._AC_UY1100_.jpg" alt=""
                            class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Formal pant</p>
                    </div>
                    <div>
                        <img src="https://www.tistabene.com/cdn/shop/files/MSH-1489A.jpg?v=1757080947" alt=""
                            class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Shirt</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBifi0JnlJfZsdX0S1fh9WLFkZ4jZnJEEvh2FpJB-aTqnLegQZPZAB6mKs5YMtVLmJeYk&usqp=CAU"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Shervani</p>
                    </div>
                    <div>
                        <img src="https://www.tistabene.com/cdn/shop/files/MSH-1489A.jpg?v=1757080947" alt=""
                            class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Shirt</p>
                    </div>
                    <div>
                        <img src="https://m.media-amazon.com/images/I/91qdN8vNgAL._AC_UY1100_.jpg" alt=""
                            class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Formal pant</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBifi0JnlJfZsdX0S1fh9WLFkZ4jZnJEEvh2FpJB-aTqnLegQZPZAB6mKs5YMtVLmJeYk&usqp=CAU"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Shervani</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div>
                <p class="m-0 text-sm text-primary-text p-3 sticky top-0 bg-white font-[700]" id="title">
                    Kid</p>

                <div class="grid grid-cols-[repeat(3,minmax(50px,1fr))] gap-4 place-items-center px-3 mt-1.5">
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQILIfMXUmobP05FaUgMHSWRB332ZOCei0kpg&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Kurti</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyC0asgDsttr1rseMHq6NqxqvTHpW8_tWlDw&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Saree</p>
                    </div>
                    <div>
                        <img src="https://fabvilla.in/cdn/shop/products/CKB1127ceelkee_540x_70bda26d-af2f-4e7b-85f5-11d7a7e4ccf3.jpg?v=1648029770"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Lehenga</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyC0asgDsttr1rseMHq6NqxqvTHpW8_tWlDw&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Saree</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQILIfMXUmobP05FaUgMHSWRB332ZOCei0kpg&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Kurti</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyC0asgDsttr1rseMHq6NqxqvTHpW8_tWlDw&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Saree</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQILIfMXUmobP05FaUgMHSWRB332ZOCei0kpg&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Kurti</p>
                    </div>
                    <div>
                        <img src="https://fabvilla.in/cdn/shop/products/CKB1127ceelkee_540x_70bda26d-af2f-4e7b-85f5-11d7a7e4ccf3.jpg?v=1648029770"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Lehenga</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div>
                <p class="m-0 text-sm text-primary-text p-3 sticky top-0 bg-white font-[700]" id="title">
                    Electronics</p>

                <div class="grid grid-cols-[repeat(3,minmax(50px,1fr))] gap-4 place-items-center px-3 mt-1.5">
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQILIfMXUmobP05FaUgMHSWRB332ZOCei0kpg&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Kurti</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyC0asgDsttr1rseMHq6NqxqvTHpW8_tWlDw&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Saree</p>
                    </div>
                    <div>
                        <img src="https://fabvilla.in/cdn/shop/products/CKB1127ceelkee_540x_70bda26d-af2f-4e7b-85f5-11d7a7e4ccf3.jpg?v=1648029770"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Lehenga</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyC0asgDsttr1rseMHq6NqxqvTHpW8_tWlDw&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Saree</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQILIfMXUmobP05FaUgMHSWRB332ZOCei0kpg&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Kurti</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyC0asgDsttr1rseMHq6NqxqvTHpW8_tWlDw&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Saree</p>
                    </div>
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQILIfMXUmobP05FaUgMHSWRB332ZOCei0kpg&s"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Kurti</p>
                    </div>
                    <div>
                        <img src="https://fabvilla.in/cdn/shop/products/CKB1127ceelkee_540x_70bda26d-af2f-4e7b-85f5-11d7a7e4ccf3.jpg?v=1648029770"
                            alt="" class="w-[50px] h-[50px] rounded-full object-cover m-auto">
                        <p class="m-0 text-sm mt-1 text-secondary-text text-center">Lehenga</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>