<main>
    <div class="px-3 mb-[48px]">
        <div class="rounded mt-3 border bg-white">

            <div class="border-b p-3">
                <a href="#" class="no-underline">
                    <div class="flex items-stretch gap-4">
                        <img src="https://rihaa.com/cdn/shop/files/DE624B72-6C8E-416D-AACD-85DA178C975E.jpg?v=1725823312"
                            alt="" class="h-[60px] w-[60px] object-contain">

                        <div>
                            <p class="m-0 text-xs text-secondary-text">Pure coutton full slive t-shirt</p>
                            <p class="m-0 text-primary-text mt-1">&#8377;499/-</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>