<main>
    <div class="px-3">
        <div class="rounded mt-3 flex flex-col gap-4">

            <div class="bg-white p-3 flex items-center justify-between border rounded-md hover:shadow">
                <a href="#" class="no-underline">
                    <div class="flex items-stretch gap-4">
                        <img src="https://rihaa.com/cdn/shop/files/DE624B72-6C8E-416D-AACD-85DA178C975E.jpg?v=1725823312"
                            alt="" class="h-[60px] w-[60px] object-contain">

                        <div>
                            <p class="m-0 text-xs text-secondary-text">Pure coutton full slive t-shirt</p>
                            <p class="m-0 text-primary-text mt-1">&#8377;499/-</p>
                        </div>
                    </div>
                </a>
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg"
                 width="14" height="14" fill="currentColor"
                        class="bi bi-angle-left-solid text-secondary-text rotate-180"
                    viewBox="0 0 256 512">
                    <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
                </button>
            </div>
        </div>
    </div>
</main>