<main>
    <div class="px-3 mb-[48px]">
        <div class="rounded mt-3 border bg-white">

            <div class="border-b p-3">
                <a href="#" class="no-underline">
                    <div class="flex items-stretch gap-4">
                        <img src="https://rihaa.com/cdn/shop/files/DE624B72-6C8E-416D-AACD-85DA178C975E.jpg?v=1725823312"
                            alt="" class="h-[60px] w-[60px] object-contain">

                        <div>
                            <p class="m-0 text-xs text-secondary-text">Pure coutton full slive t-shirt</p>
                            <p class="m-0 text-primary-text mt-1">&#8377;499/-</p>
                            <span
                                class="bg-rating text-white px-1.5 py-0.5 rounded-full text-xs">4.5&starf;</span>
                        </div>
                    </div>

                    <div class="mt-4 flex items-center gap-2">
                        <p class="text-primary-text text-sm m-0">Qty:</p>


                        <input type="number" value="1"
                            class="w-[40px] h-5 border rounded text-primary-text text-sm"
                            id="quantity" min="1">
                    </div>
                </a>
            </div>

            <div class="p-3">
                <button class="flex items-center gap-5">
                    <span class="text-secondary-text text-sm">Remove</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                        class="bi bi-trash3 text-secondary-text" viewBox="0 0 16 16">
                        <path
                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="p-3 bg-blue-50 border rounded mt-10">
            <p class="m-0 text-sm text-secondary-text pb-1 border-b border-gray-300">Price details
                &#40;items 65&#41;</p>

            <div class="flex items-center justify-between mt-4">
                <p
                    class="m-0 text-xs text-primary-text pb-0.5 border-dashed border-b border-gray-500">
                    Total price</p>
                <p class="m-0 text-xs text-primary-text">&#8377;1599/-</p>
            </div>
        </div>
    </div>

    <div
        class="fixed bottom-0 z-10 px-5 w-full py-2 border bg-white grid grid-cols-[repeat(auto-fit,minmax(135px,1fr))]">
        <div class="flex flex-col gap-1">
            <span class="m-0 text-primary-text">&#8377; 1499/-</span>
            <span class="m-0 text-primary text-xs">View details</span>
        </div>

        <button class="bg-primary text-secondary rounded-lg">Shop Now</button>

    </div>
</main>