/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    transition: all 0.3s ease;
    /* color: #333333; */
}

html,body{
    background-color: #f8f9fa !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus{
    outline: none;
}

input[type="number"]{
    text-align: center;
}