#all-rate-check{
    margin-top: 16px !important;
    display: inline-block;
}

#quantity:focus{
    outline: none;
}

#slider::-webkit-scrollbar{
    height: 3px;
}

#slider::-webkit-scrollbar-track{
    background-color: #d8d8d8;
}
#slider::-webkit-scrollbar-thumb{
    background-color: #888888;
}


#slider{
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

#img{
    scroll-snap-align: center;
}
